@using Microsoft.AspNet.Identity
@model _1811060740_NguyenDucThinh_BigSchool.ViewModels.FollowingViewModel

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<h2>Following</h2>
<div class="row">
    <ul class="follow">
        @foreach (var follow in Model.Followings)
        {
            <li>
                <div class="details">
                    <span class="lecturer">
                        @follow.Name
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
